*,body{
    background: #512552;
    color:whitesmoke;
}

.hidden {
	display: none;
}

a{
    text-decoration: none;
    font-size: x-large;
    color:whitesmoke;
    padding: 0px 12px;
}
a:hover{
    text-decoration: none;
    color:rgb(182, 182, 182);
}

.video-container {
    background: black;
    display: inline-block;
    line-height: 0;
    max-width: 80%;
    width: 80%;
}

#logs-header {
    margin-top: 20px;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

video {
    width: 100%;
}

pre .error {
    color: red;
}

pre .warn {
    color: goldenrod;
}
